:root {
    --primary-color: #1C1C1C;
    --secondary-color: #164DF2;
    --tertiary-color: #3071F2;
    --quaternary-color: #282828;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    font: bold 2rem 'Open Sans', sans-serif;
}


/* HeaderMYP */


.headerMyP {
    background-color: var(--quaternary-color);
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.89); 

    height: 10vh;

    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 2;
}
.headerMyP span{
    color: white;
    margin-left: 5vw;
}

.headerMyP .container-logosMyP {
    display: flex;
}

.headerMyP .container-logosMyP .logosMyP {
    margin: 0 7px;
    height: 6vh;
}

/* TODO */

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin:auto;
    gap: 20px;

}

.todo__title {
    color: var(--secondary-color);

    font-family: cursive;
    font-size: 4.5rem;
    letter-spacing: 6px;

    margin-top: 25px;

    justify-content: center;
    align-items: center;
    display: flex;
    animation: aparecer 1s linear;
    z-index:-1;
}
@keyframes aparecer{
    0% {
        opacity: 0%;
        transform: translateY(-14vh);
    }
    80%{
        opacity: 40%;
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}
.todo__list {
    box-shadow: 0px 1px 5px 1px #3071f277;

    width: 100%;
    height: 55vh;
    padding: 15px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    border-radius: 10px 0px 0px 50px / 10px 0px 0px 25px;
}

/* BARRA DE ROLAGEM-todo_list */

.todo__list::-webkit-scrollbar {
    width: 10px; 
}

.todo__list::-webkit-scrollbar-track {
    background: var(--quaternary-color);  
}
  
.todo__list::-webkit-scrollbar-thumb {
    background-color: rgb(167, 167, 167);
    border-radius: 20px;
}


/* ITEM */

.todo__item{
    box-shadow: 2px 2px 0px var(--secondary-color);
    background-color: #2E2E31;
    text-align: start;

    width: 95%;
    height: 5vh;
    padding: 10px;
    border-radius: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__item > div {
    color: white;

    width: 90%;
    padding: 0 15px;
}
.todo__item:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);

    cursor: pointer;
    transition: all 1s ease;
}


.todo__item > input[type='image']:hover{
    filter: invert(100%);
    transition-duration: .5s;
}

.todo__item > input[type='image'],
.todo__item > input[type='checkbox'] {
    width: 30px;
    height: 25px;
}


.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

/* NEW ITEM */

.todo__new-item{
    background-color: #dadafb18;

    font: inherit;

    width: 40vw;
    min-width: 320px;
    height: 8vh;
    padding: 10px 5px;
    margin: auto;

    display: flex;
    
    justify-content: space-evenly;
    position: fixed;
    top: 90%;
    transform: translateY(-50%); 
}

.todo__new-item > input[type='text']{
    background-color: #b0b0f00a;
    color: var(--tertiary-color);

    font: inherit;
    text-align: center;

    width: 95%;

    border: none;
    outline: none;
}

.todo__new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
    color: var(--tertiary-color);
}
.todo__new-item button[type='submit'] {
    background-color: var(--secondary-color);

    text-indent: 8px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 800;
    margin-left: 10px;
    
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
   
.todo__new-item button:hover{
    background-color: var(--tertiary-color);    
}


/* RESPONSIVIDADE */

@media screen and (max-width: 990px) {
    .todo{
        width: 70vw;
    }
    .todo__new-item{
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .todo{
        width: 85vw;
    }
    .todo__title{
        font-size: 3.3rem;
    }
    .todo__new-item{
        align-items: center;
        padding: 3px;
        height: 8vh;
        width: 85%;
        flex-direction: column;
    }
    .todo__new-item input{
        height: 90%;
    }
    .todo__new-item input[type='submit']{
        height: 50%;
        width: 50%;
        
        position: fixed;
        top: 100%;
        margin-top: 30px;
        transform: translateY(-50%);
    }
}
@media screen and (max-width: 450px) {
    .headerMyP{
        justify-content: center;
    }
    .headerMyP span{
        display: none;
    }
    .todo__item > div {
        font-size: 15px;
    }
}