:root {
    --primary-color: #1C1C1C;
    --secondary-color: #164DF2;
    --tertiary-color: #3071F2;
    --quaternary-color: #282828;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    font: bold 2rem 'Open Sans', sans-serif;
}


/* HeaderMYP */


.headerMyP {
    background-color: var(--quaternary-color);
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.89); 

    height: 10vh;

    align-items: center;
    justify-content: space-between;
    display: flex;
}
.headerMyP span{
    color: white;
    margin-left: 5vw;
}

.headerMyP .container-logosMyP {
    display: flex;
}

.headerMyP .container-logosMyP .logosMyP {
    margin: 0 7px;
    height: 7vh;
}

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin:auto;
    gap: 20px;

}

.todo__title {
    color: var(--secondary-color);

    font-family: cursive;
    font-size: 5rem;
    letter-spacing: 6px;

    width: 100%;
    height: 12vh;
    margin-top: 50px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.todo__list {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo__item{
    box-shadow: 1px 1px 5px var(--secondary-color);

    width: 100%;
    height: 6.5vh;
    padding: 10px;
    border-radius: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo__item > div {
    color: white;
    width: 80%;
}
.todo__item:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);

    cursor: pointer;
    transition: all 1s ease;
}


.todo__item > input[type='image']:hover{
    filter: invert(100%);
    transition-duration: .5s;
}

.todo__item > input[type='image'],
.todo__item > input[type='checkbox'] {
    width: 30px;
    height: 25px;
}


.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.todo__new-item{
    background-color: #dadafb18;

    font: inherit;

    width: 55%;
    height: 8vh;
    padding: 10px 0;
    margin: auto;

    display: flex;

    
    justify-content: space-evenly;
    position: fixed;
    top: 90%;
    transform: translateY(-50%); 
}

.todo__new-item > input{
    background-color: #b0b0f00a;
    color: var(--tertiary-color);

    font: inherit;
    text-align: center;

    width: 80%;

    border: none;
    outline: none;
}

.todo__new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
    color: var(--tertiary-color);
}
